[Unit]
Description=Sinopia2 npm package cache service
Documentation=https://github.com/zanata/zanata-sinopia-docker-files
Wants=docker.service
After=network.target docker.service

[Service]
Type=simple
Restart=always
User=sinopia
Group=docker
ExecStart=/usr/bin/docker-compose -f /home/sinopia/sinopia.yaml up
ExecStop=/usr/bin/docker-compose -f /home/sinopia/sinopia.yaml stop

[Install]
WantedBy=multi-user.target

