[Unit]
Description=Sinopia2 npm package cache service
Documentation=https://github.com/zanata/docker-sinopia
Wants=docker.service
After=network.target docker.service

[Service]
Type=notify
User=sinopia
Group=docker
WorkingDirectory=/home/sinopia/docker-sinopia
ExecStart=/bin/make run
ExecStop=/bin/make rm

[Install]
WantedBy=multi-user.target

