[Unit]
Description=Sinopia2 npm package cache service
Documentation=https://github.com/zanata/zanata-sinopia-docker-files
Wants=docker.service
After=network.target docker.service

[Service]
Type=simple
User=sinopia
Group=docker
WorkingDirectory=/home/sinopia/zanata-sinopia-docker-files
ExecStart=/bin/make run
ExecStop=/bin/make rm

[Install]
WantedBy=multi-user.target

